.sh_menu_container{
    position: fixed;
    height: auto;
    background: #ececec;
    z-index: 90001;
    min-width: 150px;
    border: 0.5px solid rgba(0,0,0,0.2);
    border-radius: 2.5px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

.sh_menu_container ul{
    list-style: none;
    padding: 5px 0;
    margin: 0;
}

.sh_menu_container ul.sh_menu_rtl{
    direction: rtl;
}

.sh_menu_container ul li{
    padding-right: 10px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: all 0.15s;
}

.sh_menu_container ul li.sh_menu_item:hover{
    cursor: pointer;
    background: #4b8bec;
    color: white;
}

.sh_context_mask{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90000;
}

.sh_menu_divider{
    height: 1px;
    margin: 1px 1px 8px 1px;
    overflow: hidden;
    background-color: #ececec;
    border-bottom: 1px solid #d0d0d0;
    line-height: 10px;
}

.sh_menu_container ul li.sh_menu_disabled{
    color: #d0d0d0;
}

.sh_menu_container ul li.sh_menu_disabled:hover{
    cursor: not-allowed;
    color: #d0d0d0;
    background: #ececec;
}

