body,html{
    height: 100%;
}

.mydDiv{
    height: 100px;
    width: 100px;
    background: #ddf333;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 100px;
}

.menu{
    height: 200px;
    width: 70px;
    background: lightgray;
    position: absolute;
    z-index: 10;
    box-shadow: -5px 8px 8px -4px lightgray;
}

.menu-open{
    border: 0.5px solid rgba(50, 150, 200, 0.3);
}